@dropzone-border-radius: 5px;
@dropzone-border-width: 3px;
@dropzone-mask-opacity: 0.3;
@dropzone-border-margin: 2px;

@temp-prog-bar-padding: 10px;
@temp-prog-bar-width: 150px;
@temp-prog-bar-height: 95px;
@image-thumbnail-width: @temp-prog-bar-width;
@image-thumbnail-height: @temp-prog-bar-height;
@temp-prog-bar-parent-width: @temp-prog-bar-width + @temp-prog-bar-padding*2;