.attach-screenshot-pasted-image {
    max-height: 280px;
    max-width: 100%;
    vertical-align: middle;
}

.attach-screenshot-padding {
    padding: 0.5em;
}

#attach-screenshot-image-container {
    height: 300px;
    text-align: center;
    line-height: 300px;

    border: 1px solid #f0f0f0;
}

#attach-screenshot-image-container.focus {
    border-color: #326CA6;
    border-style: dotted;
}

.attach-screenshot-placeholder {
    font-size: 1em;
}

.attach-screenshot-container {
}

#attach-screenshot-progress-container .file-progress {
    position: relative;
    height: 5px;
    width: 320px;
    padding: 5px 0;
}

#attach-screenshot-upload-progress .progress-background-color {
    background: #e9e9e9;
    border-radius: 3px;
    border-width: 0px;
}

#attach-screenshot-upload-progress .progress-fill-color {
    background: #3572b0;
    border-radius: 3px 0 0 3px;
}


#attach-screenshot-fake-input {
    border: none;
    width: 1px;
    height: 1px;
    margin: 0px;
    position: absolute;
    opacity: 0;
}

#attach-screenshot-placeholder-message {
    text-align: center;
}

.attach-screenshot-dragover {
    box-shadow: 0 0 20px #BBB inset;
    border-color: #BBB;
    background-color: #FAFAFA;
}

.attach-screenshot-padding-inner .field-group.attach-screenshot-image-error {
    padding-left: 0px;
}

.aui-message + #attach-screenshot-inner-container {
    margin-top: 10px;
}

.attach-screenshot-paste-catcher {
    position: fixed;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
}

.issueaction-attach-screenshot-html5 {
    display: none !important;
}